Screen {
    align: center middle;
}
.container {
    align: center middle;
    height: 50%;
}
.operations_container {
    background: red 10%;
    align: center middle;
}
.operations {
    text-align: center;
    text-opacity: 45%;
}
#timer {
    background: green 10%;
    text-align: center;
    width: 100%;
    padding: 1 1;
}
#main {
    text-style: bold;
    text-opacity: 100%;
}
#start_button {
    width: 100%;
}
